.product-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 350px;
    flex: 0 0 auto;
    border: 1px solid #ddd;
    margin: min(20px, 10%) 0;
    cursor: default;
}

.product-img {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info-container {
    padding: 10px;
    background-color: #f9f9f9;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    gap: 5px;
}

.product-name h3 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.product-add-to-cart-btn .btn {
    padding: 8px 16px;
    /* btn clore charcol grey */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-add-to-cart-btn .btn:hover {
    background-color: #555;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.stars-empty {
    color: #ddd;
}

.stars-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: gold;
}

.product-card .product-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.15);

    /* background: rgba(157, 157, 157, 0.15); */
    border-radius: 40%;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: fill 0.2s ease;

    color: white;
}

.product-card .product-wishlist svg {
    width: 27px;
    height: auto;
    stroke-width: 1.2px;
    stroke-opacity: 0.8;
}

.product-card .product-wishlist svg path {
    fill: none;
    transition: fill 0.2s ease;
}

.product-card .product-wishlist:hover svg {
    color: #c48b81;
    stroke-width: none;
}

.product-card .product-wishlist:hover svg path {
    fill: #c48b81;
}
.product-card .product-wishlist.active svg {
    color: #c48b81;
    stroke-width: none;
}
.product-card .product-wishlist.active svg path {
    fill: #c48b81;
}

/* ========= RESPONSIVE ============ */
@media (max-width: 360px) {
    .product-card {
        width: calc(300px - 20px);
    }
}
