@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background-header: #ffffff;
    --color-background-overlay: rgba(0, 0, 0, 0.2);
    --color-text-header: #333;
    --color-text-inverse: #fff;
    --color-text-link: #333;
    --color-text-link-active: #232526;
    --color-text-link-active-end: #414345;
}
body {
    font-family: "Poppins", sans-serif ;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

